#article-wrap {
    width: 100%;
    margin-top: 18px; margin-bottom: 18px;
    display: flex; justify-content: space-between;
}

#article-main {
    width: 68%;
}

#article-sidebar {
    width: 28%;
    background-color: rgb(244,244,244);
}

#article-info {
    font-size: 16px;
    margin-bottom: 48px;
    color: #5A5A5A;
}

#article-author-container {
    display: inline-flex;
    width: auto;
    background-color: rgb(240,240,240);
    border-radius: 6px;
    padding: 8px;
}

#article-author-profile {
    width: 32px; height: 32px;
    border-radius: 50%;
    display: flex;
}

#article-author {
    margin-left: 12px;
    margin-right: 3px;
    color: #000;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

#article-author:hover {
    text-decoration: underline;
}

#article-title {
    font-size: 40px;
}

#article-body {
    font-size: 20px;
}