#latest-wrap {
    background-color: rgb(244,244,244);
    width: 68%;
}

#news-wrap {
    width: 28%;
}

#news-wrap > h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-top: 4px; padding-bottom: 4px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: #989898 1px solid;
}

.article-wrap {
    position: relative;
    border-bottom: #989898 1px solid;
    padding-top: 8px;
}

.article-top {
    width: 100%;
    display: flex; flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.category-label {
    margin: 0;
    max-width: 20%;
    border-radius: 5px;
    padding-left: 6px; padding-right: 6px; padding-bottom: 2px;
    color: #FFF; font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.article-title {
    width: 74%;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    font-family: 'DM Serif Display', serif;
}

.article-title:hover {
    text-decoration: underline;
}

.article-date {
    margin-top: 2px; margin-bottom: 0px;
    color: #5A5A5A;
    font-size: 15px;
}

.article-preview {
    margin-top: 10px;
    color: #5A5A5A;
    font-size: 15px;
}