<!DOCTYPE html>
<html>
    <head>
        {{ template "config" .}}
        <link rel="stylesheet" href="/static/css/article.css">
        {{ if .Data }}
            {{ range .Data }}
                {{ if .Title }}
                    <title>{{ .Title }}</title>
                {{ else }}
                    <title>The Centinal - News</title>
                {{ end }}
            {{ end }}
        {{ end }}
    </head>
    <body>
        {{ template "header" .}}
        <div id="body-wrap">
            <div id="body-container">
                <div id="article-wrap">
                    <div id="article-main">
                        {{ if .Data }}
                            {{ range .Data }}
                                {{ if and (.UUID) (.Title) (.Body) (.Date) (.Category) (.ERT) }}
                                        <h1 id="article-title">{{ .Title }}</h1>
                                        <span id="article-author-container">
                                            <a href={{ print "/user/" .AuthorUUID }}><img src={{ print "/static/img/" .AuthorPFP }} id="article-author-profile"/></a>
                                            <a href={{ print "/user/" .AuthorUUID }} id="article-author">{{ .Author }}</a>
                                        </span>
                                        <p id="article-info" >{{ print .ERT " min · Published " .Date }}</p>
                                        <p id="article-body" >{{ .Body }}</p>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </div>
                    <div id="article-sidebar">

                    </div>
                </div>
            </div>
            {{ template "comment" .}}
            {{ template "footer" }}
        </div>
    </body>
</html>