{{ define "footer" }}
    <footer>
        <div id="footer-container">
            <p>
                © 2024 Champaign Centinal Magazine. All rights reserved.
            </p>
        </div>
    </footer>
{{ end }}