{{ define "header" }}
<header>
    <div id="header-container" >
        <div id="header-top" class="undraggable">
            <span>
                <a class="header-button" href="/login">LOG IN</a>
                <a class="header-button" href="/register">REGISTER</a>
            </span>
            <img id="header-search-icon" src="/static/icon/search-black.webp" />
        </div>
        <a href="/"><img class="undraggable" src="/static/icon/centinal-logo-navy.webp" alt="Centinal Logo" /></a>
        <div id="header-bottom" class="undraggable">
            <h1>The Centinal</h1>
            <p>The Student News Website of Champaign Centennial High School</p>
        </div>
    </div>
</header>
<nav>
    <div id="nav-container">
        <a class={{ if eq .Path "/category/news" }}{{ "selected" }}{{ else }}{{ "" }}{{ end }} href="/category/news">NEWS</a>
        <a class={{ if eq .Path "/category/opinions" }}{{ "selected" }}{{ else }}{{ "" }}{{ end }} href="/category/opinions">OPINIONS</a>
        <a class={{ if eq .Path "/category/fictions" }}{{ "selected" }}{{ else }}{{ "" }}{{ end }} href="/category/fictions">FICTIONS & POETRY</a>
        <a class={{ if eq .Path "/category/sports" }}{{ "selected" }}{{ else }}{{ "" }}{{ end }} href="/category/sports">SPORTS</a>
        <a class={{ if eq .Path "/category/reviews" }}{{ "selected" }}{{ else }}{{ "" }}{{ end }} href="/category/reviews">REVIEWS</a>
        <a class={{ if eq .Path "/category/surveys" }}{{ "selected" }}{{ else }}{{ "" }}{{ end }} href="/category/surveys">SURVEYS</a>
        <a class={{ if eq .Path "staff" }}{{ "selected" }}{{ else }}{{ "" }}{{ end }} href="/staff">STAFF</a>
    </div>
</nav>
{{ end }}