<!DOCTYPE html>
<html>
    <head>
        {{ template "config" .}}
        <link rel="stylesheet" href="/static/css/index.css">
        <title>The Centinal - The Student News Website of Champaign Centennial High School</title>
    </head>
    <body>
        {{ template "header" .}}
        <div id="body-wrap">
            <div id="body-container">
                <div id="latest-wrap">
                </div>
                <div id="news-wrap">
                    <h4>Latest</h4>
                    {{ if .Data }}
                        {{ range .Data }}
                            {{ if and (.UUID) (.Title) (.Body) (.Date) (.Category) }}
                                <div class="article-wrap">
                                    <div class="article-top">
                                        <a class="article-title" href={{ print "/article/" .UUID }}>{{ .Title }}</a>
                                        <a href={{ print "/category/" .Category }} class={{ print "category-label " "label-" .Category }}>{{ .Category }}</a>
                                    </div>
                                    <p class="article-date" >{{ .Date }}</p>
                                    <p class="article-preview" >{{ .Body }}</p>
                                </div>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            {{ template "footer" }}
        </div>
    </body>
</html>