<!DOCTYPE html>
<html>
    <head>
        {{ template "config" }}
        <link rel="stylesheet" href="/static/css/new_article.css">
        <title>The Centinal - News</title>
    </head>
    <body>
        {{ template "header" }}
        <div id="body-wrap">
            <div id="body-container">
                <div>
                    <form action="/article" method="POST">
                        <label for="Title">Title</label>
                        <input type="text" id="new-article-title" name="Title" />
                        <label for="Category">Category</label>
                        <input type="text" id="new-article-category" name="Category" />
                        <label for="Body">Body</label>
                        <textarea type="text" id="new-article-body" name="Body"></textarea>
                        <input type="hidden" id="new-article-thumbnail" name="Thumbnail" value=""/>
                        <button type="submit">SUBMIT</button>
                    </form>
                </div>
            </div>
            {{ template "footer" }}
        </div>
    </body>
</html>